{% extends 'base.html.twig' %}

{% block main_content %}
    {% for movie in movies %}
        <a class="movie" href="{{ path("get_movie", {"id":movie.id}) }}" title="{{ movie.title }}">
            <img class="poster" src="{{ movie.posterUrl }}" alt="{{ movie.title }}" />
            <div class="imdb-rating">{{ movie.imdbRating }}</div>
        </a>
    {% endfor %}
{% endblock %}
